.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Inicio footer */
/* Asegúrate de que el contenedor principal ocupe el 100% de la altura del viewport */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Configura el contenedor principal como flexbox */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal se expande para llenar el espacio disponible */
.content {
  flex: 1;
}

/* Estilo del footer */
footer {
  background-color: #001F3E;
  color: white;
}
/* Fin footer */

.scroll-table-container {
  max-width: 100%; /* Asegura que el contenedor no se salga del ancho de la pantalla */
  overflow-x: auto; /* Agrega scroll horizontal */
}

.employe-table  {
  table-layout: fixed;
}


.input-file {
  margin-top: 20px; /* Separación superior */
  padding: 10px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo del input */
  width: 100%; /* Ancho completo del contenedor padre */
  font-size: 14px; /* Tamaño de la fuente */
  color: #5b5b5b; /* Color del texto */
  cursor: pointer; /* Cursor de puntero al pasar sobre el input */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
  outline: none; /* Sin borde azul cuando está enfocado */ 
}

@media (max-width: 480px) {
  .input-file {
    /* Ajustar el ancho para pantallas pequeñas */
    max-width: 100%; /* Asegura que no se salga del contenedor en móviles */
    padding: 8px; /* Ajustar el padding para dispositivos móviles */
    font-size: 9px; /* Tamaño de la fuente */
  }
}



th {
  padding: 5px;
}

th.solicita-viaticos {
  width: 100px;
}

th.personal-nombre {
  width: 600px;
}

th.cedula {
  width: 400px;
}

th.rol-proyecto {
  width: 500px;
}

th.cargo {
  width: 500px;
}

th.nombre-jefe {
  width: 200px;
}

th.cargo-jefe {
  width: 200px;
}

th.nombre-banco {
  width: 200px;
}

th.tipo-cuenta {
  width: 350px;
}

th.numero-cuenta {
  width: 200px;
}

th.departamento {
  width: 150px;
}

th.acciones {
  width: 100px;
}